<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/identity_map">Identity Venn Diagram</a></li>
              <li><a href="/identity_chord_diagram">Identity Chord Diagram</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ilakkumar@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ilakumar">github.com/ilakumar</a></li>
				</ul>
			</footer>
		</body>
	</html>
